<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Matrícula</title>
</head>
<body>
    <header class="p-12">{% block header %}{% endblock %}</header>
    <main class="mb-24">{% block content %}{% endblock %}</main>
    <footer class="text-center fixed bottom-0 w-screen bg-slate-900 text-slate-50">Create by <a href="https://github.com/Adryan1928" class="text-slate-100 font-semibold" target="_blank">@adryan1928</a></footer>
</body>
</html>